---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Jacob" description="About Jacob Imsande">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
			>
			</Hero>

			<section>
				<h2 class="section-title">Professional Summary</h2>
				<div class="content">
					<p>
						Excel in leadership, organization, planning, multi tasking, time management, unyielding ethics, and morals. Leadership roles have been rewarded due to exceptional performance which has led to excellent reviews. Organization and planning are two skill sets that allow for timely deadlines consistently being met ahead of schedule. High expectations from employers and professors are often exceeded through a diligent work ethic and acute execution. Multi-tasking is an area that is often challenged, however regularly surpassed by balancing a difficult class workload while working 10 to 15 hours weekly outside the classroom. Time management is a crucial element, challenging time constraints with performance, both are connected to professional and scholastic development. Ethics and morals are the most important qualities to possess, having been raised in an environment where they were taught by example provided an exceptional opportunity to excel both in college and professionally. These skills combined with strong computer software knowledge and personal maturation offer a solid foundation to build upon.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Bachelor of Science: Computer Science (Clemson University Class of '23)</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
